body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #e6f1ff 0%, #f0f2f5 100%);
    animation: Gradient 10s ease infinite;
    text-align: center; /* Centers text and content in the body */
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px; /* Width of the SVG and narrative text */
    margin: 0 auto; /* Centers the container */
}
.narrative {
    text-align: left; /* Aligns the narrative text to the left */
    padding: 20px; /* Adds some padding around the text */
}
.bar {
    fill: steelblue;
    transition: fill 0.5s;
}
.bar:hover {
    fill: orange;
}
.axis-label {
    font: 10px sans-serif;
}
.axis--x .tick text, .axis--y .tick text {
    font: 10px sans-serif;
}
.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}
svg {
    display: block; /* Ensures the SVG is block-level for centering */
    margin: auto; /* Centers the SVG */
}

.legendText {
    font-size: 12px;
    fill: #000;
}

